<div id="daily-deals">
    <img class="promo" src="/assets/img/promo.png" alt="crabtree">
</div>

<div id="discount">
    <div class="container">
        <h3 class="title">Other Deals</h3>

        <div class="card d-inline-block mx-2 mb-5" style="width: 20rem;">
            <img class="card-img-top" src="/assets/img/steelers-ben.png" alt="">
            <div class="card-body">
                <h3 class="card-title">Steelers</h3>
                <h5 class="card-title">Ben Roethlisberger</h5>
                <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
        </div>

        <div class="card d-inline-block mx-2 mb-5" style="width: 20rem;">
            <img class="card-img-top" src="/assets/img/steelers-ben.png" alt="">
            <div class="card-body">
                <h3 class="card-title">Steelers</h3>
                <h5 class="card-title">Ben Roethlisberger</h5>
                <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
        </div>

        <div class="card d-inline-block mx-2 mb-5" style="width: 20rem;">
            <img class="card-img-top" src="/assets/img/steelers-ben.png" alt="">
            <div class="card-body">
                <h3 class="card-title">Steelers</h3>
                <h5 class="card-title">Ben Roethlisberger</h5>
                <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
        </div>

        <div class="card d-inline-block mx-2 mb-5" style="width: 20rem;">
            <img class="card-img-top" src="/assets/img/steelers-ben.png" alt="">
            <div class="card-body">
                <h3 class="card-title">Steelers</h3>
                <h5 class="card-title">Ben Roethlisberger</h5>
                <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
        </div>

        <div class="card d-inline-block mx-2 mb-5" style="width: 20rem;">
            <img class="card-img-top" src="/assets/img/steelers-ben.png" alt="">
            <div class="card-body">
                <h3 class="card-title">Steelers</h3>
                <h5 class="card-title">Ben Roethlisberger</h5>
                <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
        </div>

        <div class="card d-inline-block mx-2 mb-5" style="width: 20rem;">
            <img class="card-img-top" src="/assets/img/steelers-ben.png" alt="">
            <div class="card-body">
                <h3 class="card-title">Steelers</h3>
                <h5 class="card-title">Ben Roethlisberger</h5>
                <a href="#" class="btn btn-primary">Add to Card</a>
            </div>
        </div>
    </div>
</div>






<div id="footer">
    <p>footer</p>
</div>
