nav {
    background-color: #1e90ff;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 20px;
}

a {
    color: #fff;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
